.column {
  float: left;
  width: 50%;
  display: none; /* Hide all elements by default */
}
.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 1.7%;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
